include ./mixins/actor.pug
include ./mixins/brand.pug
include ./mixins/code.pug
include ./mixins/cpr.pug
include ./mixins/date.pug
include ./mixins/dateTime.pug
include ./mixins/email.pug
include ./mixins/form.pug
include ./mixins/id.pug
include ./mixins/json.pug
include ./mixins/name.pug
include ./mixins/number.pug
include ./mixins/phone.pug
include ./mixins/script.pug
include ./mixins/text.pug
include ./mixins/url.pug
include ./mixins/uuid.pug
include ./mixins/yaml.pug
